#searchBox
{
	//background: #79b5d2;
	width:300px;
	//border-radius: 3px;
	//margin: 5px;
	padding: 15px;
	float:right
}
	
#resultsBox
{
	max-height:500px;
}

#resultsBox > div {
         overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;   
}

#dataDisplayDiv
{
	position:absolute;
	right:0;
	bottom:0;
	//background-color: #79b5d2;
	border-radius: 3px;
	//margin: 5px;
	padding: 15px;
    max-width: 300px;
    overflow: hidden;
    //display: none;
}

dt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::-webkit-scrollbar {
  width: 11px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
  background-color:#666;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
	  background-color: #CCC;
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
	  background-color:#333;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
	  background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

label {
    color: rgba(255,255,255,1);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}

.glyphicon {
	font-size: 16px;	
}

.group-size {
	height: 34px;
}

.list-group-item {
	padding: 3px 15px;
	font-size: 12px;
}

.list-group-item:hover {
	background: #dddddd;
}

.ResultObject
{
	background-color: #CCC;
	margin:3px;
	padding:3px;
	border-radius: 3px;
	
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
	 Introduced in IE 10.
	 See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.DataObject
{
	/* margin:3px;
	padding:3px;
	border-radius: 3px; */
    
}

.ResultObject:hover		
{
	background-color: #DDD;
	padding-left:8px;
}

.NameObject
{
	/* background-color: #CCC;
	margin:5px;
	padding:5px; */
}

.ValueObject
{
	/* background-color: #CCC;
	margin:5px;
	padding:5px; */
    text-align: left;
}

.dl-horizontal dt {
    //text-align: left;
}

html {
	height: 100%;
	margin:0;
	//background: tomato;
	//background:none;
    background-image: url(../img/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {

}